{%extends base.html%}
{%block title %}Contact us {%endblock%}
{%block content%}
<h1>Contact us</h1>
<form id="contactform" method="post">
    {%csrf_token%}
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="message">Message:</label><br>
    <textarea id="message" name="message"></textarea><br><br>
    <button type="submit">Send</button>
</form>
<script>
    document.getElementById("contactform").addEventListerner("submit",function(event){
    let name= document.getElementById("name").value.trim();
    let email=document.getElementById("email").value.trim();
    if (name === "" || email===""){
    alert("please fill in bot name and email field");
    e.preventDefault();
    }
    });
</script>
{%endblock%}