{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block content %}Restuarant {% endblock %}</title>
        <style>
            footer{
               background-color:#eee;
               text-align:center;
               padding:15px;
               margin-top:20px;
               font-size:0.9rem;
               color:#555;
            }
        </style>
    </head>
    <body>
        {% block content%} {% endblock %}
        <footer>
            <p>&copy;{{ now|date: "Y"}}{{Restuarant_Name}}. All Rights Reserverd</p>
            <p>Opening Hours: Mon-Fri: 11am - 9pm | Sat-Sun: 10am-10pm</p>
        </footer>
    </body>
</html>